SPARK_RPC_AUTHENTICATION_SECRET=
SPARK_SSL_KEY_PASSWORD=
SPARK_SSL_KEYSTORE_PASSWORD=
SPARK_SSL_TRUSTSTORE_PASSWORD=
SPARK_SSL_KEYSTORE_FILE=/opt/bitnami/spark/certs/keystore.jks
SPARK_SSL_TRUSTSTORE_FILE=/opt/bitnami/spark/certs/truststore.jks
#ports
SPARK_MASTER_WEBUI_PORT=8000
SPARK_WORKER_WEBUI_PORT=8001
SPARK_MASTER_PORT=7077
SPARK_WORKER_PORT=7078

#url
SPARK_MASTER_URL=172.21.0.2

SPARK_WORKER_MEMORY=5G
SPARK_WORKER_CORES=4